<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Manifox Technology</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f6f9;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: rgba(153, 185, 155, 0.603);
        }
    </style>
</head>

<body>
    <div>
        <div class="navbar">
            <div class="nav-left">
                <a href="/"><img class="logo1" src="/images/logo4.webp" alt="Manifox Logo"></a>
            </div>
            <div class="nav-menu">
                <a href="/">Home</a>
                <a href="/news">News</a>
                <a href="/upload">Upload</a>
                <a class="active" href="/management">Management</a>

            </div>

            <div class="nav-right">

                <% if (user) { %>
                    <div class="btn1">
                        <span>Hello, <%= user.fullName %></span>
                        <div>
                            <a href="/logout">Log out</a>
                        </div>
                    </div>
                    <% } else { %>
                        <a class="btn1" href="/login">Login</a>
                        <a class="btn1" href="/create">Create</a>
                        <% } %>

            </div>
        </div>
    </div>
    <div class="table-content">

        <div class="title">LIST Users</div>

        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Nick Name</th>
                <th>Full Name</th>
                <th> Actions</th>
            </tr>
            <tbody id="userTableBody">

            </tbody>
        </table>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            async function showUsers() {
                try {
                    const response = await axios.get('/api/v1/users');
                    console.log ("get /users response: ",response.data)
                    const users = response.data.data;

                    const tableBody = document.getElementById("userTableBody");
                    tableBody.innerHTML = ""; // clear old data

                    users.forEach(user => {
                        const row = document.createElement("tr");
                        row.innerHTML = `
                        <td>${user.id}</td>
                        <td>${user.email}</td>
                        <td>${user.nickName}</td>
                        <td>${user.fullName}</td>
                        <td >
                            <button class="btn1" onclick="window.location.href='/update/${user.id}'">Update</button> 
                            <button class="btn1" onclick="handleDelete(${user.id})">Delete</button>
                        </td>
                    `;
                        tableBody.appendChild(row);
                    });

                } catch (error) {
                    console.error("Failed to load users:", error);
                    alert("Error fetching users");
                }
            }

            showUsers(); 
        </script>
        <script>
            async function handleDelete(userId) {
                const confirmDelete = confirm(`Are you sure you want to delete user ID ${userId}?`);
                if (!confirmDelete) return;

                try {
                    const response = await axios.delete(`/api/v1/users/${userId}`);
                    alert("User deleted successfully");
                    showUsers();  //Gọi lại để cập nhật danh sách
                } catch (error) {
                    console.error("Error deleting user:", error);
                    alert("Failed to delete user");
                }
            }
        </script>

    </div>
    <footer>
        &copy; 2025 Manifox Technology. All rights reserved.
    </footer>
</body>

</html>
</body>

</html>