<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Users</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #119680;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }

            .cancelbtn {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <div><a href="/"> <img class="logo" src="/images/logo4.webp"></div></a>
    <div class="form-add-new">
        <form id="createForm">
            <fieldset>
                <legend>Add new users</legend>
                <div class="input-group">
                    <label>Email :</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="input-group">
                    <label>Full Name :</label>
                    <input type="text" name="fullName" id="fullName" />
                </div>
                <div class="input-group">
                    <label>Nick Name :</label>
                    <input type="text" name="nickName" id="nickName" />
                </div>
                <div class="input-group">
                    <label>Password :</label>
                    <input type="password" name="password" id="password" />
                </div>
                <div>
                    <button type="submit" id="submit"> Submit </button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="button-group">
        <a href="/login" class="create-button">Login</a>
        <a href="/" class="home-button">Home</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById("createForm").addEventListener("submit", async function (e) {
            e.preventDefault();

            const email = document.getElementById("email").value;
            const fullName = document.getElementById("fullName").value;
            const nickName = document.getElementById("nickName").value;
            const password = document.getElementById("password").value;

            try {
                const response = await axios.post("/api/v1/users", {
                    email,
                    fullName,
                    nickName,
                    password,
                }, {
                    withCredentials: true // quan trọng để gửi cookie/session nếu có
                });

                const data = response.data;
                if (data.message === "ok") {
                    alert("Created");
                    window.location.href = "/login"
                }

            } catch (error) {
                const message = error.response?.data?.message;
                if (message === "missing") {
                    alert("Missing information");
                    window.location.href = "/create";
                } else if (message === "wrong format of email") {
                    alert("wrong format of email");
                    window.location.href = "/create"
                }
                else if (message === "nickname has existed") {
                    alert("nickname has existed");
                    window.location.href = "/create"
                }
                else if (message === "Email has existed") {
                    alert("email has existed");
                    window.location.href = "/create"
                }
            }
        });
    </script>
</body>

</html>