<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Users</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }

            .cancelbtn {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <div> <img class="logo" src="/images/logo4.webp"></div>
    <div class="form-add-new">
        <form action="/create-user" method="post">
            <fieldset>
                <legend>Add new users</legend>
                <div class="input-group">
                    <label>Email :</label>
                    <input type="text" name="email" />
                </div>
                <div class="input-group">
                    <label>Full Name :</label>
                    <input type="text" name="fullName" />
                </div>
                <div class="input-group">
                    <label>Nick Name :</label>
                    <input type="text" name="nickName" />
                </div>
                <div class="input-group">
                    <label>Password :</label>
                    <input type="text" name="password" />
                </div>

                <div>
                    <button> Save </button>
                    
                </div>
            </fieldset>
        </form>
    </div>
    <div> <a href="/">Home</a></div>
    <div> <a href="/login">Login</a></div>
</body>

</html>