<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>

    </style>
</head>


<body>
    <div> <img class="logo" src="/images/logo4.webp"></div>
    <div class="homeLogin">
        <a href="/login">Login</a>
        <a href="/create">Create</a>
    </div>

</body>

</html>